@{
    ViewData["Title"] = "Welcome to the DnD Game!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the Game</p>
    <form asp-controller="Game" asp-action="Game">
        <div>
            <input type="text" aria-required="true" placeholder="nickname" name="name" required/>
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="health-points" name="hp" required/>
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="attack-modifier" name="attackModifier" required/>            
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="attack per round" name="apr" required/>        
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="damage" name="damage" required/>       
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="damage-modifier" name="damageModifier" required/>      
        </div>
        <div>
            <input type="text" aria-required="true" placeholder="ac" name="ac" required/>      
        </div>
        <div>
            <button id="reset" class="button" style="margin: 7px" type="submit">New battle!</button>  
        </div>
    </form>
</div>